html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body {
  background-color:#000;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 70px;
}
/* Set the fixed height of the footer here */
#footer {
  padding-top:10px;
  height: 70px;
  background-color: #f5f5f5;
}

/* Custom CSS */
video { 
  position: fixed;
  right: 0;
  left: -100px;
  bottom: 0;
  min-width: 110%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  opacity: 0.3;
}

#item h3 {
  margin-bottom:3px;
}

#item h3 a {
  cursor: pointer;
  /*color: #31B0D5;*/
  color: #EC971F;
}

#item h6 {
  color: #5CB85C;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: bold;
}

#item p {
  font-size: 0.95em;
  font-family: "Segoe UI", serif;
}

#item p b {
  background-color: rgba(255,255,255,0.1);
}

.input-group {
  width:100%;
}

#category-title {
  margin-top:20px;
  padding:10px;
  background-color: rgba(91, 192, 222, 0.40)
}

#category-title:first-child {
  margin-top:0;
}

#category-title h2 {
  margin:0;
  padding:0;
}